/* css-------------------------------- */
.myContainer .selectedContainer {
    position: absolute;
    z-index:9991;
    top:64px;
    left:100px;
    bottom:100px;
    right:100px
}
.myContainer .selectedContainer .selectedResult {
    background:#fff;
    height:60px
}
.myContainer .selectedContainer .selectedResult .selectedResultBtn{
    position:fixed;
    width:60px;
    height:43px;
    line-height:43px;
    text-align:center;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    cursor: pointer;
}
.myContainer .selectedContainer .selectedResult .selectedResultContainer{
    overflow-x:auto;
    /*overflow-y:hidden;*/
    margin-left:60px;
    border-bottom:1px solid #ddd;
}


.myContainer .selectedContainer .selectedResult .selectedResultContainer .selectedResultWrap {
    height:42px;
    float:left;
    margin-left:20px
}
.myContainer .selectedContainer .selectedResult .selectedResultContainer .selectedResultWrap .selectedResultWrapText{
    line-height:42px
}
.myContainer .selectedContainer .selectedResult .selectedResultContainer .selectedResultWrap .selectedResultWrapItem{
    display:inline-block;
    width:auto;
    /* line-height:42px; */
    /*margin-right:20px;*/
    /*border:1px solid #3086c3;*/
    text-align:center;
    border: 1px solid #DDD;
	margin: 0 5px 5px 0;
	padding: 0 26px 0 4px;
	cursor: pointer;
	background: #f3f3f3;
    
}

.myContainer .selectedContainer .selectedLine {
    width:33%;
    overflow-y:auto;
    background:#F7F7F7;
    position:absolute;
    bottom:0px;
    top:60px
}
.myContainer .selectedContainer .selectedLine .selectedItem {
    height:auto;
    line-height:30px;
    padding-left:20px;
    cursor: pointer;
}

.myContainer .selectedContainer .selectedLine .selectedItem:hover{
    background:#ddd;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}