.myContainer .logo {
    width: 7.55rem;
    height: 2.5rem;
    display: inline-block;
    background: url('../img/logo.gif') left top no-repeat;
    background-size: contain;
    margin: 0.5rem 0 0 0.8rem;
    float: left;
}

.myContainer {
    overflow: hidden;
}

.myContainer .myHeader {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 3.2rem;
    border-bottom: 0.05rem solid #ccc;
    box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, .25);
    /*z-index: 3;*/
    background: #fff;
}

.myContainer .myHeader .login-register {
    margin: 0.75rem 0.8rem 0 0;
}

.myContainer input {
    outline: 0;
    width: 12.5rem;
    height: 1.8rem;
    border: 0.1rem solid #3086c3;
    margin-top: 0.7rem;
    margin-left: 0.4rem;
    float: left;
    font-size: 0.7rem;
    text-indent: 0.75rem;
    font-family: "Hiragino Sans GB", "微软雅黑", "Microsoft YaHei", SimHei, Tahoma, SimSun, sans-serif;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
}

.myContainer .myHeader .search-btn {
    width: 1.8rem;
    height: 1.8rem;
    background: #3086c3;
    margin-top: 0.7rem;
    float: left;
    text-align: center;
    line-height: 1.8rem;
    cursor: pointer;
    color: #fff !important;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}

.myContainer .region-box {
    margin-left: 1rem;
}

.myContainer .filter,
.myContainer .myHeader .region {
    display: inline-block;
    vertical-align: top;
}

.myContainer .region {
    border: solid #DDD;
    border-width: 0 0.05rem;
    width: 5.1rem;
    height: 1.7rem;
    padding: 0;
    margin: 0.7rem auto 0;
    text-align: center;
    line-height: 1.8rem;
    font-size: 0;
    text-decoration: none;
    color: #333;
    padding-bottom: 0.8rem;
}

.myContainer a {
    text-decoration: none;
    color: #333;
}

.myContainer .region-box span {
    font-size: 0.7rem;
    display: inline-block;
    overflow: hidden;
    max-width: 3.2rem;
}

.myContainer .fa-sort-desc {
    vertical-align: top;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    float: right;
    margin-right: 0.75rem;
    display: inline-block;
}

.myContainer .filter-box,
.myContainer .more-box,
.myContainer .region-box {
    float: left;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.myContainer .filter-box,
.myContainer .more-box {
    z-index: initial;
    width: 5.1rem;
}

.myContainer .filter {
    display: block;
    height: 1.7rem;
    border-right: 0.05rem solid #DDD;
    margin-top: 0.75rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 0;
}

.myContainer .filter span {
    font-size: 0.7rem;
    max-width: 2.5rem;
    overflow: hidden;
}

.myContainer .myHeader .go-to-list,
.myContainer .myHeader .login-register {
    height: 1.65rem;
    line-height: 1.8rem;
    float: right;
    text-align: center;
    font-size: 0.7rem;
}

.myContainer .myHeader .fa-user {
    color: #3086c3;
    position: relative;
    top: -0.05rem;
    vertical-align: middle;
}

.myContainer .typeUserInfo div {
    display: inline-block;
}

.myContainer .myHeader .go-to-list {
    border: 0.05rem solid #4A4A4A33;
    border-radius: 0.1rem;
    margin: 0.75rem 0.9rem 0 0.6rem;
    padding: 0 0.7rem;
    cursor: pointer;
    background-color: #3086c3;
    color: #fff !important;
}

.myContainer .myHeader .go-to-list,
.myContainer .myHeader .login-register {
    height: 1.8rem;
    line-height: 1.8rem;
    float: right;
    text-align: center;
}

.myContainer .myHeader .fa-list-ul {
    font-size: 0.7rem;
    margin-right: 0.25rem;
}

.myContainer .list-container {
    position: absolute;
    width: 27%;
    top: 3.2rem;
    right: 0;
    float: right;
    border-left: 0.05rem solid #ccc;
    background: #fff;
    box-shadow: 0 0.05rem 0.15rem rgba(0, 0, 0, .25);
    z-index: -9;
    bottom: 0;
}

.myContainer .list-container .overlay {
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    position: absolute;
    width: 100%;
}

.myContainer .list-container .list-header {
    background: #F7F7F7;
    padding: 0.85rem 0.8rem;
    position: absolute;
    width: 100%;
    z-index: 1;
    font-size: 0.7rem;
    line-height: 1.6rem;
}

.myContainer .list-container .list-header .total-count {
    font-weight: 700;
    color: #333;
}

.myContainer .list-container .list-header .sort {
    color: #666;
    float: right;
    margin-left: 0.8rem;
    cursor: pointer;
}

.myContainer .list-container .list-header .sort.on {
    color: #FF6630;
}

.myContainer .list-container .list-header .sort {
	height: 1.5rem;
	line-height: 1.5rem;
	color: #fff;
    /*color: #666;*/
    float: right;
    margin-left: 0.8rem;
    cursor: pointer;
    background-color: #3086c3;
    border-radius: 0.1rem;
}

.myContainer em {
    font-style: normal;
}

.myContainer .sort i {
    margin-left: 0.1rem;
}

.myContainer .expander {
    position: absolute;
    top: 50%;
    margin-top: -2.25rem;
    width: 0.95rem;
    height: 3.2rem;
    background: url('../img/map-expander.png') 100% 0% no-repeat;
    z-index: 2;
    cursor: pointer;
    right: 26.2%;
}

.myContainer .item-wrap {
    position: absolute;
    padding-top: 2.775rem;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.myContainer .list-container .list-item {
    height: 6.9rem;
    padding: 1.15rem 0.8rem;
    position: relative;
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
}

.myContainer .list-container .list-item img {
    width: 6.2rem;
    height: 100%;
    vertical-align: baseline;
}

.myContainer .list-container .list-item .right-info {
    vertical-align: baseline;
    display: inline-block;
    width: 11.2rem;
    box-sizing: border-box;
    height: 4.6rem;
    padding-left: 0.8rem;
}

.myContainer .list-container .list-item .right-info div {
    width: 100%;
    margin-bottom: 0.1rem;
    line-height: 0.8rem;
}

.myContainer .list-container .list-item hr {
    border: 0;
    border-bottom-width: 0rem;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    margin: 0;
    border-bottom: 0.05rem solid #DEDEDE;
    position: absolute;
    bottom: 0;
    width: 18.4rem;
}

.myContainer .list-container .list-item .right-info div {
    line-height: 0.8rem;
}

.myContainer .list-container .list-item .right-info .title {
    font-size: 0.7rem;
    color: #333;
    font-weight: bolder;
    max-width: 5.5rem;
}

.myContainer .list-container .list-item .right-info span {
    font-size: 0.6rem;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.myContainer .villa-name {
    background: #00ae66;
    font-size: 0.6rem;
    border-radius: 0.05rem;
    padding: 0 0.2rem;
    color: #fff !important;
    margin: 0 0.25rem;
}

.myContainer .sale-status[data-status="在售"],
.myContainer .sale-status[data-status="尾盘"] {
    background-color: #ff764c;
}

.myContainer .sale-status {
    font-size: 0.6rem;
    border-radius: 0.05rem;
    padding: 0 0.2rem;
    color: #fff !important;
}

.myContainer .list-container .list-item .right-info .price {
    padding-top: 0.05rem;
    font-size: 0.8rem;
    color: #FF6630;
    position: absolute;
    right: 0.8rem;
    text-align: right;
}

.myContainer .total-count em {
    color: #FF6630;
    margin: 0 0.05rem;
}

.myContainer .content {
    position: absolute;
    left: 0;
    top: 3.2rem;
    width: 73%;
    height: 100%;
}

.myContainer .detail .imgBox {
    width: 100%;
    height: 25rem;
    line-height: 25rem;
}

.myContainer .detail .houseInfo .inlineText {
    position: relative;
}

.myContainer .inlineText span {
    font-size: 0.7rem;
}

.myContainer .detail .houseInfo .afterSpan {
    position: absolute;
    left: 50%;
}

.myContainer .detail .houseInfo .tag {
    color: #9c9c9c;
}

.myContainer .myHeader .login-register {
    margin: 0.75rem 0.8rem 0 0;
}

.myContainer .myHeader .login-register {
    height: 1.65rem;
    line-height: 1.8rem;
    float: right;
    text-align: center;
}

.myContainer .myHeader .filter span,
.myContainer .typeUserInfo,
.myContainer .typeUserInfo div {
    display: inline-block;
}

.myContainer .typeUserInfo .no-login {
    display: inline;
}

.myContainer .typeUserInfo .login-user-btn {
    cursor: pointer;
}

.myContainer .condition-box {
    width: 20.6rem;
    background-color: #fff;
    position: absolute;
    top: 3.2rem;
    padding: 0.9rem 0.6rem 0.05rem;
    left: 24.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -1；
}

.myContainer .condition-row {
    display: flex;
    margin-bottom: 1rem;
}

.myContainer .condition-title {
    width: 2.8rem;
    flex: 0 0 2.8rem;
    text-align: left;
    color: #999;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.myContainer .condition-colon {
    width: 0.7rem;
    text-align: center;
    color: #999;
    flex: 0 0 0.7rem;
}

.myContainer .condition-body {
    margin-bottom: -0.7rem;
    font-size: 0;
    text-align: left;
}

.myContainer .condition-item {
    font-size: 0.7rem;
    width: 5.25rem;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0.7rem;
}

.myContainer .checkbox-lg {
    width: 0.6rem;
    height: 0.6rem;
}

.myContainer .checkbox {
    display: inline-block;
    border: 0.05rem solid #ddd;
    position: relative;
    margin: 0;
}

.myContainer .condition-item .condition-txt {
    color: #333;
    vertical-align: top;
    display: inline-block;
    max-width: 4.2rem;
}

.myContainer .condition-item .condition-txt,
.myContainer .discount-title,
.myContainer .name-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myContainer .result-list {
    width: 14.3rem;
    background-color: #fff;
    position: absolute;
    top: 2.5rem;
    left: 8.75rem;
    display: inline-block;
}

.myContainer ol,
.myContainer ul {
    list-style: none;
    padding: 0;
}

.myContainer .result-list ul li {
    width: 100%;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 0.6rem;
    color: #4a4a4a;
    cursor: pointer;
}

.myContainer li.hot-title {
    background-color: #f2f4f7;
    color: #718aa6!important;
}

.myContainer .region-list {
    width: auto;
    left: 24.25rem;
    font-size: 0;
    max-height: 14.5rem;
}

.myContainer .info-list,
.myContainer .region-list {
    background-color: #fff;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, .25);
    top: 3.2rem;
    overflow: hidden;
}

.myContainer ul.first-info-list {
    z-index: 9990;
    background-color: #fff;
    overflow: hidden;
}

.myContainer .sh ul {
    /*height: auto;*/
    max-height: 15rem;
    width: auto;
}

.myContainer .region-list ul {
    /*width: 4.4rem;*/
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.myContainer .info-list ul li,
.myContainer .region-list ul li {
    font-size: 0.7rem;
    color: #4a4a4a;
    cursor: pointer;
    height: 1.7rem;
    padding: 0 0 0 0.8rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myContainer ul.first-info-list li.selected,
.myContainer ul.second-info-list li.selected,
.myContainer ul.third-info-list li.selected {
    color: #3086c3;
    background-color: inherit;
}

.myContainer ul.second-info-list {
    background-color: #fafafa;
    z-index: -2;
}

.myContainer .data-list {
    width: 4.4rem;
    background-color: #fafafa;
    overflow: auto;
}

.myContainer .info-list.price {
    left: 29.5rem;
}

.myContainer .info-list {
    width: 5.1rem;
}

.myContainer .info-list.room {
    left: 34.6rem;
}

.myContainer .info-list {
    width: 5.1rem;
}

.myContainer li:hover {
    color: #3086c3 !important;
    background-color: inherit !important;
    background-color: #f7f7f7 !important;
}

.myContainer .selected .checkbox-lg .check {
    width: 0.6rem;
    height: 0.3rem;
    left: 0.1rem;
    top: -0.05rem;
}

.myContainer .selected .checkbox .check {
    display: inline-block;
    border: solid #3086c3;
    border-width: 0 0 0.1rem 0.1rem;
    transform: rotate(-53deg);
    box-shadow: 0 0.1rem 0.05rem 0 #fff, 0 -0.1rem 0 0 #fff inset;
    position: absolute;
}

.myContainer .selected .condition-txt {
    color: #3086c3;
}

.myContainer .layui-layer-content {
    overflow: hidden !important;
}

.myContainer .checkbox-sm {
    width: 0.4rem;
    height: 0.4rem;
}

.myContainer .checkbox {
    display: inline-block;
    border: 0.05rem solid #ddd;
    position: relative;
}

.myContainer .info-list.room ul li {
    padding-right: 0.8rem;
}

.myContainer .info-list ul li.selected {
    color: #3086c3;
}

.myContainer .selected .checkbox-sm .check {
    width: 0.3rem;
    height: 0.15rem;
    left: 0.1rem;
    top: 0;
}

.myContainer .selected .checkbox {
    border-color: #3086c3;
}

.myContainer .myHeader .expand .fa-sort-desc {
    color: #3086c3;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin-top: 0.65rem;
    font-size: 0.9rem;
}

.tipkuang{
	width:300px; 
	height:100px; 
	border:5px solid #09F; 
	position:relative;
}
.tipkuang em {
	display: block;
	border-width: 20px;
	position: absolute;
	bottom: -40px;
	left: 100px;
	border-style: solid dashed dashed;
	border-color: #09F transparent transparent;
	font-size: 0;
	line-height: 0;
}

#lr_systembox {
	width: 980px;
	height: 50px;
	background-color: #CCC;
	position: relative;
	margin: 0 auto;
	z-index: 100000;
}

.lr_systembtn {
	width: 201px;
	height: 35px;
	line-height: 33px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100004;
}

.lr_systembtn .lr_abtn {
	width: 100%;
	height: 35px;
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	background-image: url(vbbbbbbbbbimg/btn_system.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.lr_systembtn .lr_abtn:hover {
	color: #333333;
	background-position: left bottom;
}

.lr_systembtn .lr_abtn span {
	padding-left: 28px;
}

.lr_menu {
	width: 184px;
	padding: 8px 6px 8px 6px;
	background-color: #ffffff;
	border: #ACACAC solid 2px;
	filter: alpha(opacity = 90);
	opacity: 0.90;
	position: absolute;
	top: 35px;
	right: 0px;
	z-index: 100005;
	display: none;
}

.lr_menu dl {
	width: 100%;
	display: block;
	overflow: hidden;
}

.lr_menu a {
	width: 100%;
	display: block;
	color: #666666;
	border-bottom: #ACACAC dashed 1px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background-image: url(img/jt1.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
}

.lr_menu a:hover {
	background-color: #E2E2E2;
	color: #333333;
	text-decoration: none;
}

.lr_menu dt {
	
}

.lr_menu dt a {
	font-weight: bold;
	text-indent: 14px;
}

.lr_menu dd a {
	text-indent: 24px;
	background-position: 16px center;
}

.loadmore{
	height: 3rem;
    padding: 1.15rem 0.8rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: #2a90d7;
    background: rgba(41,144,215,.08);
    text-align: center;
    cursor: pointer;
    margin-left: 0.8rem;
}
.loadmore:hover {
    background: rgba(41,144,215,.2);
}