.level1_label {
	width: 100px;
	height: 64px;
	border: none;
	border-radius: 50%;
	text-align: center;
	line-height: 161%;
	padding: 15px 0 18px;
	color: #fff;
	background: rgba(46, 171, 98, .9);
	font-size: 14px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .24);
}

.infoBoxContent {
	font-size: 12px;
	border-radius: 50%;
}

.infoBoxContent .title {
	background: url(../../map/img/title.jpg) no-repeat;
	height: 42px;
	width: 272px;
}

.infoBoxContent .title strong {
	font-size: 14px;
	line-height: 42px;
	padding: 0 10px 0 5px;
}

.infoBoxContent .title .price {
	color: #FFFF00;
}

.infoBoxContent .list {
	width: 268px;
	border: solid 1px #4FA5FC;
	border-top: none;
	background: #fff;
	height: 260px;
}

.infoBoxContent .list ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}

.infoBoxContent .list ul li {
	float: left;
	width: 255px;
	border-bottom: solid 1px #4FA5FC;
	padding: 2px 0;
}

.infoBoxContent .list ul .last {
	border: none;
}

.infoBoxContent .list ul img {
	width: 53px;
	height: 42px;
	margin-right: 5px;
}

.infoBoxContent .list ul p {
	padding: 0;
	margin: 0;
}

.infoBoxContent .left {
	float: left;
}

.infoBoxContent .rmb {
	float: right;
	color: #EB6100;
	font-size: 14px;
	font-weight: bold;
}

.infoBoxContent a {
	color: #0041D9;
	text-decoration: none;
}

.cpanel div.icon span {
	-moz-transition-duration: 0.8s;
	background-color: #FFFFFF;
	background-position: -30px 50%;
	border: 1px solid #CCCCCC;
	border-radius: 60px;
	color: #565656;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	text-align: center;
	text-indent: 0;
}

.cpanel div.icon span:hover {
	border: 1px solid blue;
}